# Procesamiento de Datos con Python
## FES Arag√≥n
### ICO
#### Valeria Carmona Lopez

In [1]:
import pandas as pd
import numpy as np

In [2]:
s = pd.Series({'a': 10, 'b': 20, 'c': 30})
print(type(s))
s

<class 'pandas.core.series.Series'>

a    10
b    20
c    30
dtype: int64

In [3]:
s1 = pd.Series([10,20,30,40])
s1

0    10
1    20
2    30
3    40
dtype: int64

In [5]:
s.index

Index(['a', 'b', 'c'], dtype='object')

In [4]:
s1.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
s1.max()

40

In [8]:
s1.describe()

count     4.000000
mean     25.000000
std      12.909944
min      10.000000
25%      17.500000
50%      25.000000
75%      32.500000
max      40.000000
dtype: float64

In [10]:
# Generamos una serie de numeros aleatorios
s2 = pd.Series(np.random.randn(5))
s2

0    1.992513
1   -2.122470
2   -0.547005
3   -0.811002
4   -0.988742
dtype: float64

In [11]:
s2

0    1.992513
1   -2.122470
2   -0.547005
3   -0.811002
4   -0.988742
dtype: float64

In [12]:
s3 = pd.Series([[10, 20],\
                [30, 40.5,'series'],\
                [50, 55],\
                {'Name':'Tess','Org':'Packt'}])
s3

0                            [10, 20]
1                  [30, 40.5, series]
2                            [50, 55]
3    {'Name': 'Tess', 'Org': 'Packt'}
dtype: object

In [14]:
s3[1][1]

40.5

In [16]:
s3.describe()

count            4
unique           4
top       [10, 20]
freq             1
dtype: object

In [20]:
s3.shape

(4,)

In [18]:
#DataFrame
df = pd.DataFrame([30,50,20])
df

    0
0  30
1  50
2  20